{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
	    <div class="screen">
		    <div class="screen__content">
                <form action="" method="post" class="login">
                    <div class="login__field">
					    <i class="login__icon fas fa-user"></i>
                        {% csrf_token %}
                        <input type="text" class="login__input" name="username" placeholder="Enter Username">
                    </div>
                    <div class="login__field">
					    <i class="login__icon fas fa-lock"></i>
                            <input type="password" class="login__input" name="password" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="button login__submit">Login</button>
                </form>
                {% for msg in messages %}
                {{msg}}
                {% endfor %}
            </div>
            <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		    </div>
        </div>
    </div>
</body>
</html>